@CHARSET "UTF-8";
@import url("css/body.css");


/*header
{
    background: url('resources/images/separateur.png') repeat-x bottom;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}*/


/*section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}*/


.secret
{
	display:none;	
}

.position
{
	position:absolute;
	right:0px;
	left:0px;
	bottom:0px;
	top:0px;
	z-index:1;om
	
}
#logo
{
	
}



